@model AdminLoginPage.Models.AdminLogin

@{
    ViewBag.Title = "AdminLogin";
}

<h2>Book Details</h2>

<p>
    @Html.ActionLink("Show Book Details", "Admin_ShowBook")
</p>


<p>
    @Html.ActionLink("Add Book", "AddBook")
</p>


<p>
    @Html.ActionLink("Find Book", "AdminFindBook")
</p>

<p>

    @Html.ActionLink("Show Visitors Details", "AdminFindBook")
</p>

